.gallery__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(413px, 413px));
  column-gap: 20px;
  max-width: 1280px;
  margin: 20px auto 0;
  justify-content: center;
  border-bottom: 1px solid #21212166;
  padding: 0;
}

.gallery__card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 0 0 40px;
  position: relative;
}

.gallery__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
}

.gallery__info {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}

.gallery__icon {
  width: 23px;
  height: 20px;
  opacity: 0.4;
  background-image: url('../images/LikeIcon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.gallery__icon-delete {
  background-image: url(../images/deleteDefault.svg);
  position: absolute;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  right: 10px;
  top: 10px;
}

.gallery__icon-delete:hover {
  background-image: url('../images/deleteHover.svg');
}

.gallery__icon_liked {
  background-image: url('../images/StateLiked.svg');
  opacity: 1;
}

.gallery__icon:hover {
  opacity: 1;
  cursor: pointer;
}

.gallery__icon_liked:hover {
  opacity: 0.4;
}

.gallery__text {
  font-weight: 500;
  margin: 0;
  font-size: 20px;
  line-height: 120%;
  max-width: 350px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 630px) {
  .gallery__card {
    margin: 0 auto 20px;
    max-width: 288px;
    padding: 0;
  }

  .gallery__image {
    width: 288px;
    height: 288px;
  }

  .gallery__text {
    max-width: 250px;
    font-size: 16px;
  }

  .gallery__icon {
    width: 20px;
    height: 18px;
  }
}
