/* i also tried using flex method for cards*/
/*.gallery{
  display: flex;
  max-width: 1280px;
  max-height: 970px;
  border-bottom-width: 1px;
  gap: 20px;
  margin: 20px auto;
  flex-wrap: wrap;
*/

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(413px, 413px));
  column-gap: 20px;
  max-width: 1280px;
  margin: 20px auto;
  justify-content: center;
  border-bottom: 1px solid #21212166;
}

.gallery__card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 413px;
  height: 445px;
  padding: 0 0 40px;
}

.gallery__image-box {
  width: 413px;
  height: 413px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.gallery__info {
  display: flex;
  justify-content: space-between;
  padding: 0;
  height: 24px;
  align-items: center;
}

.gallery__icon {
  width: 23px;
  height: 20px;
  opacity: 0.4;
}

.gallery__icon:hover{
  opacity: 1;
  cursor: pointer;
}

.gallery__text {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  max-height: 24px;
  max-width: 350px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 630px) {
  .gallery__card {
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 288px;
    height: 318px;
  }

  .gallery__image-box {
    width: 288px;
    height: 318px;
  }
}
