.header {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFFCC;
  margin-bottom: 34px;
  justify-content: center;
}

.header__logo {
  max-height: 26px;
  max-width: 94px;
  margin: 10px auto;
}
