.header {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFFCC;
  margin-bottom: 34px;
  justify-content: center;
}

.header__inner {
  margin: 10px auto;
}

.header__logo {
  max-height: 26px;
  max-width: 94px;
}

@media (max-width: 630px) {
  .header {
    max-width: 630px;
  }
}
