.page {
  margin: 0 auto;
  background-color: #FCF5E5;
  min-height: 100vh;
  max-width: 1440px;
  font-family: "Poppins", Arial, sans-serif;
  color: #212121;
}

@media (max-width: 630px) {
  .page {
    max-width: 630px;
  }
}
